/* Background da seção */
section#about {
  background-color: var(--gray-500);
}

/* Imagem de perfil */
.profile-image {
  margin-top: 1rem;

  border: 2px solid var(--red);
  border-radius: 50%;

  padding: 0.4rem;

  width: 7rem;
  height: 7rem;

  object-fit: cover;
}

/* Container do perfil */
#profile {
  position: relative;
}

.code-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Textos da seção about */
.about-texts {
  width: 16rem;

  margin-top: 0.5rem;

  position: relative;
}

.about-texts span:nth-child(1) {
  font: var(--title-md);

  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.3rem;
}

.about-texts p:nth-child(1) {
  color: var(--gray-200);
  width: 100%;

  line-height: 1.2rem;

  margin: 0.3rem auto;
}

.about-texts h1 {
  color: var(--gray-100);
}

.about-texts p:nth-child(3) {
  margin-top: 1.2rem;

  color: var(--gray-300);
}

.about-texts p:nth-child(2) {
  margin-top: 0.2rem;

  color: var(--gray-300);
}

/* Lista na seção about */
#about ul {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Ícone de próxima seção */
img.next-section {
  margin-top: 6rem;
}

/* Media Query Desktop */
@media (width >= 80em) {
  .profile-image {
    margin-top: 3rem;
    width: 8rem;
    height: 8rem;
  }

  #about ul {
    margin-top: 4.5rem;
    display: flex;
  }

  img.next-section {
    margin-top: 7rem;
  }

  .about-texts {
    margin-top: 1rem;
    width: 52rem;
  }
}
