#myServices {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-600);

  & h2 {
    color: var(--red);
  }
  
  & ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
  }}

@media (width>=80em) {
#myServices {
  & ul {
justify-content: center;
    flex-direction: row;
    column-gap: 24px;
  }
}


}