.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin: auto;
}

.title-lg {
  font: var(--title-lg);
}

.subtitle-sm {
  font: var(--subtitle-sm);
}

.text-sm {
  font: var(--text-sm);
}

.devname {
  font: var(--subtitle-sm);
  color: var(--red);
}

.py-sm {
  padding-block: var(--py-sm);
}

.py-md {
  padding-block: var(--py-md);
}

.py-lg {
  padding-block: var(--py-lg);
}

.px-xl {
  padding-inline: var(--px-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.grid {
  display: grid;
}

.ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.text-align {
  text-align: center;
}

.justify-items {
  justify-items: center;
}

.margin-auto {
  margin: auto;
}

.desktop-only {
  display: none;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  font: var(--subtitle-sm);
}

/*add grid display*/
.even-columns {
  display: grid;
  gap: 1rem;
}

@media (width>=80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  /*sets grid display "inline"*/
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
